*/table style*/
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
table thead{
    background: color #002147 ;
    color: white;
}
table th,table td{
    padding: 12px;
    border: 1px solid #ddd;
}
table tbody tr:nth-child(odd){
    background-color: #F9F9F9;
}
table tbody tr:nth-child(even){
    background-color: #F9F9F9;
}
a{
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
a:hover{
    background-color: #86add7;
}